<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAs-wI0SgQcVE6dNWP0Ha0gc68M79LltHo</string>
	<key>GCM_SENDER_ID</key>
	<string>557614392787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.hobbyloop</string>
	<key>PROJECT_ID</key>
	<string>hobbyloop-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbyloop-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557614392787:ios:bf6c62aeac2a1181e6bb26</string>
</dict>
</plist>